.item {
    border: 2px solid rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    margin: 1.1rem 0.9rem;
    display: flex;
    flex-direction: column;
    width: 13rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    -webkit-box-shadow: -4px 4px 11px -2px rgba(0,0,0,0.59); 
    box-shadow: -4px 4px 11px -2px rgba(0,0,0,0.59);
}

.item:hover {
    transform: scale(1.1);
}

.item > img {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    padding: 0.5rem;
}

.item__info {
    padding: 0.5rem;
    border-top: 1px solid black;
    background-color: rgba(167, 89, 89, 0.548);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    height: 5rem;
    width: 13rem;
    margin-bottom: -2px;
    transition: all 0.2s ease-in;
}

.item__info:hover {
    background-color: rgba(167, 89, 89, 0.767);
}

.item__info > h4 {
    margin-bottom: 0.5rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: rgb(48, 48, 48);
}

.item__info > p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: right;
    font-size: 1.5rem;
    color: rgb(75, 75, 75);
}