.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    /*background-color: rgba(0, 0, 0, 0.205);*/
    background-color: rgb(224, 224, 224);
    height: 6rem;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.navbar__logo {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: rgb(187, 69, 14);
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.navbar__logo:hover {
    transform: scale(1.09);
    opacity: 1;
}

.navbar__logo > a:hover {
    color: black;
}

.navbar__options > ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    align-items: center;
}

.navbar__option {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar__option > span {
    color: rgb(187, 69, 14);
    font-family: Roboto;
    font-weight: bold;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__option > span:hover {
    color: black
}

/*Menu Oculto*/

.navbar__burger {
    color: rgb(187, 69, 14);
    display: none;
}

.navbar__hiddenOptions {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
}

.navbar__showOptions {
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in;
}

.navbar__hiddenOptionsList {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(187, 69, 14);
    /*min-height: 10rem;*/
    /*background-color: rgba(102, 102, 102, 0.397);*/
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    border-bottom: 1px solid rgb(187, 69, 14);
    flex: 1;
}

.navbar__hiddenOptionsList > a {
    flex: 1;
}


.navbar__hiddenOption {
    padding: 1rem 0.7rem;
    height: 3.3rem;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in;
    margin-bottom: -1px;
}

.navbar__hiddenOption:hover {
    background-color: rgba(187, 69, 14, 0.705);
}

.navbar__hiddenOption > span {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 526px) {

    .navbar__options {
        display: none;
    }

    .navbar__burger {
        display: block;
        cursor: pointer;
    }

    .navbar__showOptions {
        display: block;
    }

}