.itemCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.itemCount__addCart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem
}

.itemCount__item {
    display: flex;
    justify-content: center;
}

.itemCount__item > div {
    width: 6rem;
    background-color: rgba(247, 247, 247, 0.479);
    padding: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCount__item > button {
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    background: rgba(236, 126, 53, 0.658);
    color: white;
    outline: none;
}

.itemCount__buttom {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 25rem;
}

.itemCount__buttom > a {
    width: 100%;
}

.itemCount__buttom-cart {
    padding: 0.7rem;
    border-radius: 100px;
    background-color: rgba(231, 60, 60, 0.644);
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    border: none;
    letter-spacing: 4px;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    outline: none;
    width: 100%;
}



.itemCount__buttom-buy {
    background-color: rgba(236, 126, 53, 0.856);
    width: 100%;
}


.itemCount__buttom > button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.itemCount__buttom > button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

